@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

nav {
  font-family: "Kdam Thmor Pro", sans-serif;
  display: block;
  margin: 30px auto;
  text-align: center;
  margin-bottom: 30px;
}
nav a {
  display: inline-block;
  padding: 15px 25px;
  margin-right: 3px;
  background-color: #ff5200;
  border-radius: 5px;
  color: white;
}

.nav a:hover {
  background-color: #cf5127;
  text-decoration: none;
}

.content {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}
table {
  background-color: #2d3e50;
  font-family: "Kdam Thmor Pro", sans-serif;
  display: block;
  margin-top: 30px;
}
th,
td,
tr {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px 20px;
  color: white;
}
button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 3px;
  background-color: #ff5200;
  border-radius: 5px;
  color: white;
  border: none;
}
button:hover {
  background-color: #cf5127;
  text-decoration: none;
}
.content input {
  display: inline;
}
input {
  padding: 7px;
  border-radius: 7px;
  border: 1px solid darkgrey;
  margin-right: 3px;
}
